html, body{
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.voicebox{
  opacity: 0.9;
  height: 200px;
  min-width: 200px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  background: rgba(0,0,0,0.7);
  padding: 30px 30px 30px 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-image: linear-gradient(-180deg, #120F22 0%, #0D0723 100%);
  -webkit-animation: slideIn 0.4s cubic-bezier(0.2, 0, 0, 1.2);
}

#voicebox.dismiss{
  -webkit-animation: slideOut 0.4s cubic-bezier(0.2, 0, 0, 1.2) FORWARDS;
}

@-webkit-keyframes slideIn{
  0%{
    opacity: 0;
    -webkit-transform: translate(0, 50px);
  }
  100%{
    opacity: 0.9;
    -webkit-transform: translate(0, 0);
  }
}

@-webkit-keyframes slideOut{
  0%{
    opacity: 0.9;
    -webkit-transform: translate(0, 0);
  }
  100%{
    opacity: 0;
    -webkit-transform: translate(0, 50px);
  }
}

#input{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'Helvetica Neue';
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#soundwave{
  position: relative;
  display: inline-block;
  margin: 60px 0 0 0;
}

#soundwave i{
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid white;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-animation: grow 2s cubic-bezier(0.4, 0, 0, 1.2) 0.0s infinite;
}

#soundwave i:nth-child(2){
  border-color: #C24BFF;
  -webkit-animation-delay: 0.5s;
}

#soundwave i:nth-child(3){
  border-color: #4FD9FF;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes grow{
  0%{
    opacity: 1;
    -webkit-transform: scale(0);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(1);
  }
}
